/*Inica stilo principal*/
.fondo{
	background-image: url("../img/carousel-bg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 10%;
}
.mg-top{
	margin-top: 10%;
}
hr{
	width:10%;
}
p{
	font-size: 1em;
}
.hrstandar{
	width: 100%;
}
.mg-top2{
	margin-top: 3%;
}
.mg-top8{
	margin-top: 8%;
}
.mg-top10{
	margin-top: 10%;
}
.mgBoton{
	margin: 15% 30%;
}
.mg-bottom-5{
	margin-bottom: 5%;
}
.mg-0{
	margin: 0%;
}
.pd-1{
	padding: 2%;
}
.pd-2{
	padding: 4%;
}
.pd-3{
	padding: 6%;
}
.img{
	width: 70%;
	height: 100%;
}
.rotate{
	border-radius: 40px;
	transform:  rotate(45deg);
}
.bordergreen{
	border:2px solid #1FDA9A;
}
.bordeorange{
	border:2px solid #F38630;
}
.fondoRepeat{
	background-image: url(../img/img-divider-img.jpg);
	background-repeat: repeat-x;
	padding: 14%;
}
.linea{
	display: inline-block;
}
.bloque{
	display: block;
}
. {
	margin: 0%;
}
.font-size{
	font-size: 3em;
}
.opa{
	opacity: 0.5;
}
/*GAMA DE COLORES*/
.CFondo{
	background-color: #003366;
}
.CNegro{
	background: linear-gradient(to right, rgba(77,77,77,1) 0%, rgba(43,43,43,1) 0%, rgba(71,71,71,1) 17%, rgba(0,0,0,1) 39%, rgba(102,102,102,1) 66%, rgba(28,28,28,1) 76%, rgba(18,18,18,1) 80%, rgba(18,18,18,1) 80%, rgba(43,43,43,1) 92%, rgba(19,19,19,1) 100%);
}
.Tama{
	width: 45%;
}

.ColorWhite{
	color: white;
}
.Cgris{
	color:#CCCCCC;
}
.Naranja{
	color:#F38630;
}
.CafeFondo{
	background-color: #996633;
}
.ColorBg{
	background-color: #FFFFFF;
}
.C1{
	background-color: #69D2E7;
}
.C2{
	background-color: #A7D2E7;
}
.C3{
	background-color: #E0E4CC;
}
.C4{
	background-color: #F38630;
}
.C5{
	background-color: #FA6900;
}
.C6{
	background-color: #E94C6F;
}
.C7{
	background-color: #542733;
}
.C8{
	background-color: #5A6A62;
}
.C9{
	background-color: #C6D5CD;
}
.C10{
	background-color: #FDF200;
}
.C11{
	background-color: #D83340;
}
.C12{
	background-color: #E8B71A;
}
.C13{
	background-color: #F7EAC8;
}
.C14{
	background-color: #1FDA9A;
}
.C15{
	background-color: #28ABE3;
}
.C16{
	background-color: #588C73;
}
.C17{
	background-color: #F2E394;
}
.C18{
	background-color: #F2AE72;
}
.C19{
	background-color: #D96459;
}
.C20{
	background-color: #8C4646;
}
.C21{
	background-color: #D0C91F;
}
.C22{
	background-color: #85C4B9;
}
.C23{
	background-color: #008BBA;
}
.C24{
	background-color: #DF514C;
}
.C25{
	background-color: #DC403B;
}
/*ACABA GAMA DE COLORES*/
